<section class="about-lead-gen pad-tb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="common-heading text-l">
          <span>Get to know us</span>
          <h2 class="mb20">We Help Companies to Generate Leads and Increase Sales</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p class="mt10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="col-lg-6 lead-intro-">
        <img src="images/about/lead-about.png" alt="image" class="img-fluid" />
      </div>
    </div>
  </div>
</section>