<div class="statistics-section bg-gradient6 pad-tb tilt3d">
  <div class="container">
    <div class="row justify-content-center t-ctr">
      <div class="col-lg-4 col-sm-6">
        <div class="statistics">
          <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
            <img src="images/icons/startup.svg" alt="years" class="img-fluid" />
          </div>
          <div class="statnumb">
            <span class="counter">15</span>
            <span>+</span>
            <p>Year In Business</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="statistics">
          <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
            <img src="images/icons/team.svg" alt="team" class="img-fluid" />
          </div>
          <div class="statnumb">
            <span class="counter">80</span>
            <span>+</span>
            <p>Team Members</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row small t-ctr">
      <div class="col-lg-3 col-sm-6">
        <div class="statistics">
          <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
            <img src="images/icons/deal.svg" alt="happy" class="img-fluid" />
          </div>
          <div class="statnumb">
            <span class="counter">450</span>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="statistics">
          <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
            <img src="images/icons/computers.svg" alt="project" class="img-fluid" />
          </div>
          <div class="statnumb counter-number">
            <span class="counter">48</span>
            <span>k</span>
            <p>Projects Done</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="statistics">
          <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
            <img src="images/icons/worker.svg" alt="work" class="img-fluid" />
          </div>
          <div class="statnumb">
            <span class="counter">95</span>
            <span>k</span>
            <p>Hours Worked</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="statistics mb0">
          <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
            <img src="images/icons/customer-service.svg" alt="support" class="img-fluid" />
          </div>
          <div class="statnumb">
            <span>24/7</span>
            <p>Support Available</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>