			<div class="onloadpage" id="page_loader">
				<div class="pre-content">
				   <div class="logo-pre"><img src="images/logo.png" alt="Logo" class="img-fluid" /></div>
				   <div class="pre-text- text-radius text-light text-animation bg-b">Loading . . . . </div>
				</div>
			 </div>