<section class="blog-home pad-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="common-heading">
          <span>Blogs</span>
          <h2 class="mb0">Latest News</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".2s">
        <div class="isotope_item hover-scale">
          <div class="item-image">
            <a href="#">
              <img src="images/blog/blog-1.jpg" alt="blog" class="img-fluid" />
            </a>
            <span class="category-blog">
              <a href="#">iOs</a>
              <a href="#">Android</a>
            </span>
          </div>
          <div class="item-info blog-info">
            <div class="entry-blog">
              <span class="bypost">
                <a href="#">
                  <i class="fas fa-user"></i> Tom Black </a>
              </span>
              <span class="posted-on">
                <a href="#">
                  <i class="fas fa-clock"></i> Sep 24, 2019 </a>
              </span>
              <span>
                <a href="#">
                  <i class="fas fa-comment-dots"></i> (23) </a>
              </span>
            </div>
            <h4>
              <a href="#">Stock Market App Development - Time, Cost, Features</a>
            </h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".4s">
        <div class="isotope_item hover-scale">
          <div class="item-image">
            <a href="#">
              <img src="images/blog/blog-2.jpg" alt="blog" class="img-fluid" />
            </a>
            <span class="category-blog">
              <a href="#">iOs</a>
              <a href="#">Android</a>
            </span>
          </div>
          <div class="item-info blog-info">
            <div class="entry-blog">
              <span class="bypost">
                <a href="#">
                  <i class="fas fa-user"></i> Tom Black </a>
              </span>
              <span class="posted-on">
                <a href="#">
                  <i class="fas fa-clock"></i> Sep 24, 2019 </a>
              </span>
              <span>
                <a href="#">
                  <i class="fas fa-comment-dots"></i> (23) </a>
              </span>
            </div>
            <h4>
              <a href="#">Finance App Development - Time, Cost, Features</a>
            </h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".6s">
        <div class="isotope_item hover-scale">
          <div class="item-image">
            <a href="#">
              <img src="images/blog/blog-3.jpg" alt="blog" class="img-fluid" />
            </a>
            <span class="category-blog">
              <a href="#">Marketing</a>
              <a href="#">SEM</a>
            </span>
          </div>
          <div class="item-info blog-info">
            <div class="entry-blog">
              <span class="bypost">
                <a href="#">
                  <i class="fas fa-user"></i> Tom Black </a>
              </span>
              <span class="posted-on">
                <a href="#">
                  <i class="fas fa-clock"></i> Sep 24, 2019 </a>
              </span>
              <span>
                <a href="#">
                  <i class="fas fa-comment-dots"></i> (23) </a>
              </span>
            </div>
            <h4>
              <a href="#">How to Increase Your ROI Through scientific SEM?</a>
            </h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>