<section class="bhv-service bg-gradient5 pad-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="common-heading">
          <span>What we’re great at</span>
          <h2 class="mb30">Our Expertise</h2>
        </div>
      </div>
    </div>
    <div class="row upset link-hover shape-bg2">
      <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".2s">
        <div class="s-block" data-tilt data-tilt-max="4" data-tilt-speed="1000">
          <div class="s-card-icon">
            <img src="images/icons/branding.svg" alt="service" class="img-fluid" />
          </div>
          <h4>Lead Generation</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".4s">
        <div class="s-block" data-tilt data-tilt-max="4" data-tilt-speed="1000">
          <div class="s-card-icon">
            <img src="images/icons/development.svg" alt="service" class="img-fluid" />
          </div>
          <h4>Social Media Marketing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".6s">
        <div class="s-block" data-tilt data-tilt-max="4" data-tilt-speed="1000">
          <div class="s-card-icon">
            <img src="images/icons/app.svg" alt="service" class="img-fluid" />
          </div>
          <h4>SMS Marketing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".8s">
        <div class="s-block mb0" data-tilt data-tilt-max="4" data-tilt-speed="1000">
          <div class="s-card-icon">
            <img src="images/icons/marketing.svg" alt="service" class="img-fluid" />
          </div>
          <h4>E-mail Marketing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay="1s">
        <div class="s-block mb0" data-tilt data-tilt-max="4" data-tilt-speed="1000">
          <div class="s-card-icon">
            <img src="images/icons/marketing.svg" alt="service" class="img-fluid" />
          </div>
          <h4>Search Engine Optimization</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay="1.2s">
        <div class="s-block mb0" data-tilt data-tilt-max="4" data-tilt-speed="1000">
          <div class="s-card-icon">
            <img src="images/icons/marketing.svg" alt="service" class="img-fluid" />
          </div>
          <h4>Startup Marketing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="-cta-btn mt70">
      <div class="free-cta-title v-center wow zoomInDown" data-wow-delay="1s">
        <p>Want to <span>kick start</span> your project right now? </p>
        <a href="#" class="btn-main bg-btn2 lnk"> Free Quote <i class="fas fa-chevron-right fa-icon"></i>
          <span class="circle"></span>
        </a>
      </div>
    </div>
  </div>
</section>