<section class="why-choos-lg pad-tb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="common-heading text-l">
          <span>Why Choose Us</span>
          <h2 class="mb20">Performance Marketing Services We Offer</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <div class="itm-media-object mt40 tilt-3d">
            <div class="media">
              <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                <img src="images/icons/computers.svg" alt="icon" class="layer">
              </div>
              <div class="media-body">
                <h4>High-Quality Leads</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet ligula nec leo elementum semper. Mauris aliquet egestas metus.</p>
              </div>
            </div>
            <div class="media mt40">
              <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                <img src="images/icons/worker.svg" alt="icon" class="layer">
              </div>
              <div class="media-body">
                <h4>Real Time Leads</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet ligula nec leo elementum semper. Mauris aliquet egestas metus.</p>
              </div>
            </div>
            <div class="media mt40">
              <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                <img src="images/icons/deal.svg" alt="icon" class="layer">
              </div>
              <div class="media-body">
                <h4>Get Consistent Leads</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet ligula nec leo elementum semper. Mauris aliquet egestas metus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-image">
          <img src="images/about/marketing-service.png" alt="hero image" class="img-fluid" />
        </div>
        <div class="cta-card mt60 text-center">
          <h3>Get your <span class="text-second text-bold">FREE</span> Digital Audit </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet ligula nec leo elementum semper.</p>
          <a href="#" class="btn-outline lnk mt30">Get Strategy Call <i class="fas fa-chevron-right fa-icon"></i>
            <span class="circle"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>