<section class="clients-section lead-gen-client pad-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="common-heading">
          <span>Happy customers</span>
          <h2>Clients Who Trust Us</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="opl">
          <ul>
            <li class=" wow fadeIn" data-wow-delay=".2s">
              <div class="clients-logo">
                <img src="images/client/clients-1.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay=".4s">
              <div class="clients-logo">
                <img src="images/client/clients-2.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay=".6s">
              <div class="clients-logo">
                <img src="images/client/clients-3.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay=".8s">
              <div class="clients-logo">
                <img src="images/client/clients-4.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1s">
              <div class="clients-logo">
                <img src="images/client/clients-5.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1.2s">
              <div class="clients-logo">
                <img src="images/client/clients-7.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1.4s">
              <div class="clients-logo">
                <img src="images/client/clients-8.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1.6s">
              <div class="clients-logo">
                <img src="images/client/clients-9.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1.8s">
              <div class="clients-logo">
                <img src="images/client/clients-10.png" alt="text" class="img-fluid" />
              </div>
            </li>
            <li class=" wow fadeIn" data-wow-delay="2s">
              <div class="clients-logo">
                <img src="images/client/clients-11.png" alt="text" class="img-fluid" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="-cta-btn mt70">
      <div class="free-cta-title v-center wow zoomInDown" data-wow-delay="2.1s">
        <p>We <span>Promise.</span> We <span>Deliver.</span>
        </p>
        <a href="#" class="btn-main bg-btn2 lnk">Let's Work Together <i class="fas fa-chevron-right fa-icon"></i>
          <span class="circle"></span>
        </a>
      </div>
    </div>
  </div>
</section>