<section class="hero-section lead-hero">
  <div class="text-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 v-center">
          <div class="header-heading">
            <h1 class="wow fadeInUp" data-wow-delay=".2s">We Analyze & Understand Your Buyers</h1>
            <p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus, risus sit amet auctor sodales, justo erat tempor eros.</p>
            <a href="#" class="btn-main bg-btn lnk wow fadeInUp" data-wow-delay=".6s">Get Strategy Call <i class="fas fa-chevron-right fa-icon"></i>
              <span class="circle"></span>
            </a>
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay=".4s">
          <div class="single-image">
            <img src="images/hero/leads-hero.png" alt="hero image" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>